<main>
  <form class="container">
    <h2 class="display-4">Werknemer Aanpassen</h2>
    <div class="form-group">
      <img width="10%" src="{{ inputAvatar }}">
    </div>
    <div class="form-group">
      <label for="id">Id</label>
      <input name="id" [(ngModel)]="id" class="form-control" id="id" aria-describedby="id" placeholder="Enter id" disabled>
    </div>
    <div class="form-group">
      <label for="firstName">Voornaam</label>
      <input name="inputFirstName" [(ngModel)]="inputFirstName" class="form-control" id="firstName" placeholder="Voornaam">
    </div>
    <div class="form-group">
      <label for="lastName">Achternaam</label>
      <input name="inputLastName" [(ngModel)]="inputLastName" class="form-control" id="lastName" placeholder="Achternaam">
    </div>

    <div>
      <label for="role">Rol</label>
      <select name="inputRole" [(ngModel)]="inputRole" class="custom-select d-block my-3" required>
        <option value="">Selecteer een rol</option>
        <option value="Schoonmaker">Schoonmaker</option>
        <option value="Assistent manager">Assistent manager</option>
        <option value="Manager">Manager</option>
        <option value="Serveerder">Serveerder</option>
        <option value="Receptionist">Receptionist</option>
        <option value="Chef kok">Chef kok</option>
        <option value="Kok">Kok</option>
      </select>
    </div>

    <div class="form-group">
      <label for="startDate">Start Datum</label>
      <input name="inputStartDate" [(ngModel)]="inputStartDate" type="date" class="form-control" id="startDate" placeholder="Start Date" disabled>
    </div>


    <div *ngIf="successDelete" class="alert alert-success alert-dismissable">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong>Successfully deleted!</strong>
      <br> closing this message sets you back to the main page
    </div>

    <div *ngIf="successEdit" class="alert alert-success alert-dismissable">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong>Successfully edited!</strong>
      <br> closing this message sets you back to the main page
    </div>


    <button (click)="submit()" class="btn btn-primary" [ngClass]="{'disabled' : deleted}">Verzend</button>
    <button (click)="delete()" class="btn btn-primary">Verwijder</button>


  </form>


</main>
