<main>
<form class="container">
    <h2 class="display-4">Add Employee</h2>
    <!-- <div class="form-group">
      <label for="id">Id</label>
      <input name="id" ng-model="id" class="form-control" id="id" aria-describedby="id" placeholder="Enter id">
    </div> -->
    <div class="form-group">
      <label for="firstName">First name</label>
      <input name="firstName" [(ngModel)]="inputFirstName" class="form-control" id="firstName">
    </div>
    <div class="form-group">
        <label for="lastName">Last Name</label>
        <input name="lastName" [(ngModel)]="inputLastName" class="form-control" id="lastName">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input name="email" [(ngModel)]="inputEmail" class="form-control" id="email" placeholder="Email Adres">
    </div>
    <div>
      <label for="role">Role</label>
      <select name="role" [(ngModel)]="inputRole" class="custom-select d-block my-3" required>
          <option value="">Select a role</option>
          <option value=1>Cleaner</option>
          <option value=2>Assistent manager</option>
          <option value=3>Manager</option>
          <option value=4>Server</option>
          <option value=5>Receptionist</option>
          <option value=6>Chef</option>
          <option value=7>Cook</option>
        </select>
    </div>

    <div class="form-group">
        <label for="startDate">Start Date</label>
        <input name="startDate" [(ngModel)]="inputStartDate" type="date" class="form-control" id="startDate">
    </div>

    <div *ngIf="succesMsg" class="alert alert-success alert-dismissable" id="addSuccess">
        <a href="/overview" class="close" data-dismiss="alert" aria-label="close" (click)="redirectTo()">&times;</a>
        <strong>Success!</strong>
        <br> If you close this message you will return to the employee overview
    </div>

    <button id="addWorker" (click)="submit()" class="btn btn-primary">Add</button>


  </form>


</main>
