<main>
<form class="container">
    <h2 class="display-4">Werknemer Toevoegen</h2>
    <div class="form-group">
      <label for="id">Id</label>
      <input name="id" ng-model="id" class="form-control" id="id" aria-describedby="id" placeholder="Enter id">
    </div>
    <div class="form-group">
      <label for="firstName">Voornaam</label>
      <input name="firstName" ng-model="inputFirstName" class="form-control" id="firstName" placeholder="Voornaam">
    </div>
    <div class="form-group">
        <label for="lastName">Achternaam</label>
        <input name="lastName" ng-model="inputLastName" class="form-control" id="lastName" placeholder="Achternaam">
    </div>
    <div>
      <label for="role">Rol</label>
      <select name="role" ng-model="inputRole" class="custom-select d-block my-3" required>
          <option value="">Selecteer een rol</option>
          <option value="Schoonmaker">Schoonmaker</option>
          <option value="Assistent manager">Assistent manager</option>
          <option value="Manager">Manager</option>
          <option value="Serveerder">Serveerder</option>
          <option value="Receptionist">Receptionist</option>
          <option value="Chef kok">Chef kok</option>
          <option value="Kok">Kok</option>
        </select>
    </div>

    <div class="form-group">
        <label for="startDate">Start Datum</label>
        <input name="startDate" ng-model="inputStartDate" type="date" class="form-control" id="startDate" placeholder="Start Date">
    </div>

    <div *ngIf="succesMsg" class="alert alert-success alert-dismissable">
        <a href="/overview" class="close" data-dismiss="alert" aria-label="close" (click)="redirectTo()">&times;</a>
        <strong>Gelukt!</strong>
        <br> Als u dit bericht sluit gaat u terug naar het werknemers overzicht.
    </div>

    <button (click)="submit()" class="btn btn-primary">Toevoegen</button>


  </form>


</main>
