<div>
    <label>name:
      <input [(ngModel)]="inputName" placeholder="name">
    </label>
    <button (click)="filter();">Search</button>
</div>
<button><a href="/addworker">Add</a></button>

<table width="50%">
  <tr>
    <th>id</th>
    <th>name</th>
    <th>role</th>
    <th>Date From</th>
  </tr>
  <tr *ngFor="let worker of workerService.workers">
    <td width="25%">{{ worker.id }}    </td>
    <td width="25%">{{ worker.first_name }}     </td>
    <!-- <td width="25%">{{ worker.role }}     </td>
    <td width="25%"> {{worker.dateFrom.getDay()}} / {{worker.dateFrom.getMonth()}} / {{worker.dateFrom.getFullYear()}} </td> -->
  </tr>
</table>

{{workersTest}}
