<main role="main">

          <!-- Main jumbotron for a primary marketing message or call to action -->
          <div class="jumbotron">
            <div class="container">
              <h1 class="display-3">Welkom op het werknemers portaal van hotel fancypants</h1>
              <p> Klik de button hieronder als u gelijk naar het werknemers overzicht wilt navigeren.</p>
              <p><a class="btn btn-primary btn-lg" href="/overview" role="button">Werknemers overzicht &raquo;</a></p>
            </div>
          </div>

          <div class="container">
            <!-- Example row of columns -->
            <div class="row">
              <div class="col-md-4">
                <h2>Inzet</h2>
                <p>De button hieronder stuurt u door naar het overzicht wanneer medewerkers ingepland zijn.</p>
                <p><a class="btn btn-secondary disabled" href="#" role="button">Inzet &raquo;</a></p>
              </div>
              <div class="col-md-4">
                <h2>Beschikbaarheids rooster</h2>
                <p>Via deze button kan het beschikbaarheidsrooster aangepast worden.</p>
                <p><a class="btn btn-secondary disabled" href="#" role="button">Beschikbaarheids rooster &raquo;</a></p>
              </div>
              <div class="col-md-4">
                <h2>Uren overzicht</h2>
                <p>De button hieronder navigeert u naar een overzicht van hoeveel uren elke werknemer in een bepaalde maand heeft gewerkt.</p>
                <p><a class="btn btn-secondary disabled" href="#" role="button">Uren overzicht &raquo;</a></p>
              </div>
            </div>

            <hr>

          </div> <!-- /container -->

</main>
