<main role="main">

  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Welcome to the employee portal of Saint-Nicolas Lake Resort</h1>
      <p>Go to the overview of hotel employees</p>
      <p>
        <a class="btn btn-primary btn-lg" href="#" routerLink="/overview" role="button">Employee overview &raquo;</a>
      </p>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>Schedule</h2>
        <p>View the schedule of all employees</p>
        <p>
          <a class="btn btn-primary" href="#" routerLink="/schedule" role="button">Schedule &raquo;</a>
        </p>
      </div>
      <div class="col-md-4">
        <h2>Employee availability</h2>
        <p>View the weekly availability of all employees</p>
        <p>
          <a class="btn btn-primary" href="schedule" role="button">Availability &raquo;</a>
        </p>
      </div>
      <div class="col-md-4">
        <h2>Statistics</h2>
        <p>View the amount of hours every employee has worked</p>
        <p>
          <a class="btn btn-primary" href="hoursoverview" role="button">Statistics &raquo;</a>
        </p>
      </div>
    </div>
    <hr>
  </div>
</main>
